* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-family: 'Shrikhand', cursive;
  font-size: 48pt;
  letter-spacing: 3pt;
  color: rgb(243, 232, 211);
  text-align: center;
}

h2 {
  font-family: 'Unbounded', cursive;
  font-weight: 800;
  font-size: 24pt;
  letter-spacing: 1pt;
  color:rgb(243, 232, 211);
  text-align: center;
}

p {
  width: 100;
  height: 100;
  padding: 1rem;
}

iframe {
  width: 560pt;
  height: 315pt
}

/* Mobile - iPhone SE */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  h1 {
    font-size: 32pt;
    letter-spacing: 2pt;
    line-height: 35pt;
  }

  h2 {
    font-size: 18pt;
  }

  iframe {
    width: auto;
    height: auto
  }
}

/* Tablet - Ipad Air */
@media (min-width: 701px) and (max-width: 1120px) {
  h1 {
    font-size: 45pt;
    letter-spacing: 3pt;
    line-height: 48pt;
  }
}